/* App.css */

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: white;
}

/* App.css */
.main-content {
  flex: 1;    /* take all the leftover space */
}
